@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&family=Oswald:wght@300;500;700&family=PT+Serif:ital,wght@0,400;0,700;1,400&family=Quicksand:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Roboto+Slab:wght@900&display=swap');

.bio{
    /* display: flex; */
    align-self: center;
    align-items: center;
    justify-content: center;
    color: white;
}

.bio h2{
    font-family: 'Oswald', sans-serif;
}

.bio p{
    font-family: 'Quicksand', sans-serif;
}

.mb h3{
    font-family: 'Oswald', sans-serif;
}

.mc{
    background-color: rgb(235, 235, 235);
}

.mb p{
    font-family: 'Cairo', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.bg{
    background-color: black;
}

.bgb{
    background-color: #101010;
    padding-top: 160px;
    padding-bottom: 90px;
    background-image: url(../Images/dark-3d-shapes-floor-4a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.bt{
    border-radius: 8px;
    width: 130px;
    height: 40px;
    transition: .3s;
    font-family: 'Quicksand', sans-serif;
    font-style:italic;
}

.bt:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

.faa{
    font-family: 'Oswald', sans-serif;
}

.navv{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 400;
}

.sb{
    border: 1px solid rgb(179, 176, 176);
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
    padding-bottom: 20px;
    transition: .5s;
}
.sb:hover{
    border: 1px solid rgb(179, 176, 176);
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    padding-bottom: 20px;
}

.sb h3{
    font-family: 'Oswald', sans-serif;
}

.sb p{
    font-family: 'Quicksand', sans-serif;
}

.bto{
    border-radius: 5px;
    border: 1px solid grey;
    height: 40px;
    width: 170px;
    font-family: 'Quicksand', sans-serif;
}

.kontak{
    font-family: 'Oswald', sans-serif;
    color: white;
}
.kontak h3{
    font-size: 40px;
}
.sideleft{
    font-family: 'Oswald', sans-serif;
    color: white;
}
.mt{
    background-color: rgb(235, 235, 235);
}
.mt h3{
    font-family: 'Oswald', sans-serif;
    padding-bottom: 20px;
    font-size: 37px;
}
.tl{
    text-align: justify;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.8;
    font-weight: 500;
    font-size: 17px;
}

.ct{
    background-color: rgb(44, 42, 42);
    background-image: url(../Images/bg-widget.gif);
}

.ft{
    background-color: black;
    color: white;
}

.ft h3{
    font-family: 'Oswald', sans-serif;
}
.ft p{
    font-family: 'Quicksand', sans-serif;
}
.ft li{
    font-family: 'Quicksand', sans-serif;
}

.ft li a{
    text-decoration: none;
    color: white;
}
.bgi{
    background-color: rgb(62, 5, 167);
    width: 80px;
    height: 35px;
    border-radius: 10px;
    margin-right: 10px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: white;
    border: 1px solid #eaeaea;
}
.bgu{
    background-color: rgb(204, 124, 5);
    width: 80px;
    height: 35px;
    border-radius: 10px;
    margin-right: 10px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: white;
    border: 1px solid #eaeaea;
}

.head{
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
}

.neww{
    line-height: 2;
}

.img{
    border-radius: 55% 1% 20%;
}

.pr{
    font-family: 'Quicksand', sans-serif;
    font-size: 19px;
}

.bgl{
    background-color: rgb(238, 238, 238);
}

.bto{
    background-color: rgb(204, 124, 5);
    width: 200px;
    height: 45px;
    border-radius: 25px;
    transition: .4s;
}

.bto:hover{
    background-color: rgb(161, 99, 4);
}

.sk{
    text-align: center;
    /* border: 2px solid black; */
}
.rw{
    border: 2px solid black;
}

.bn632-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 30px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .bn632-hover:focus {
    outline: none;
  }
  
  .bn632-hover.bn26 {
    background-image: linear-gradient(
      to right,
      #25aae1,
      #4481eb,
      #04befe,
      #3f86ed
    );
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
  }